<label for="title">
	<f:translate key="tx_mappingexample_domain_model_item.title" />
</label><br />
	<f:form.textfield property="title" /><br />
<label for="description">
	<f:translate key="tx_mappingexample_domain_model_item.description" />
</label><br />
	<f:form.textarea property="description" cols="40" rows="15" /><br />