<table class="tx-mappingexample" >
	<tr>
		<td>
			<f:translate key="tx_mappingexample_domain_model_item.title" />
		</td>
		<td>
			{item.title}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_mappingexample_domain_model_item.description" />
		</td>
		<td>
			{item.description}
		</td>
	</tr>
</table>